.light{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.light .on{
    background: radial-gradient(var(--rgb-color), var(--rgb-color));
}
.on .bulb{
    background: var(--rgb-color);
    box-shadow: 0 0 50px var(--rgb-color),
    0 0 100px var(--rgb-color),
    0 0 150px var(--rgb-color),
    0 0 200px var(--rgb-color),
    0 0 250px var(--rgb-color),
    0 0 300px var(--rgb-color),
    0 0 350px var(--rgb-color),
}
.bulb{
    position: relative;
    width: 80px;
    height: 80px;
    background: #444;
    border-radius: 50%;
    z-index: 2;
}
.bulb::before{
    content: '';
    position: absolute;
    top: -50px;
    left: 22.5px;
    width: 35px;
    height: 80px;
    background: #444;
    border-top: 30px solid black;
    border-radius: 10px;
}
.on .bulb::before{
    background: var(--rgb-color);
}
.on .bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: var(--rgb-color);
    border-radius: 50%;
    filter: blur(40px);
}

.bulb span:nth-child(1){
    position: absolute;
    top: -16px;
    left: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(342deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
}
.on .bulb span:nth-child(1){
    box-shadow: 20px 20px 0 10px var(--rgb-color);
}

.bulb span:nth-child(2){
    position: absolute;
    top: -16px;
    right: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(17deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444;
}

.on .bulb span:nth-child(2){
    box-shadow: -20px 20px 0 10px var(--rgb-color);
}

.wire{
    position: absolute;
    bottom: 65%;
    width: 4px;
    height: 60vh;
    background: black;
    z-index: 1;
}

//--------------------------------------------------------------------------------------------
.light_logo{
    position: relative;
    width: 600px;
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.light_logo h2{
    color: white;
    font-size: 5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px var(--rgb-color),
    0 0 20px var(--rgb-color),
    0 0 40px var(--rgb-color),
    0 0 80px var(--rgb-color),
    0 0 120px var(--rgb-color),
}