<div id="content-container" class="content-container">

    <form action = "/tester/post_data" method = "post">
        <label class="switch">
            <input type="checkbox" name="checkbox" id="checkbox" onclick="clickFn(event)">
            <span class="slider round"></span>
        </label>
    <div id="about-us-content">
        Hệ thống cần có thời gian để cập nhật dữ liệu, xin vui lòng chỉ bật tắt công tắc cách nhau mỗi 5s!
    </div>
</div>
<script>
    function clickFn(event) {
        const checkbox = event.currentTarget;
        checkbox.value = checkbox.checked ? 'LIGHT:ON' : 'LIGHT:OFF';
        event.currentTarget.closest('form').submit();
        
    }
    function alertHighGasvalue(){
        $.ajax({
            
            url: '/tester/getLastGasValue',
            
            method: 'GET',
            dataType: 'json',
            success:function(response){ 
                console.log('msg: '+ response.data);
                if(response.msg=='success'){  
                    
                    
                    console.log('value: ' + response.data[0].value);
                    
                    if(response.data[0].value > '60'){
                        alert('CẢNH BÁO: PHÁT HIỆN NỒNG ĐỘ KHÍ GAS BẤT THƯỜNG, XIN VUI LÒNG KIỂM TRA CĂN HỘ CỦA BẠN NGAY LẬP TỨC!!');
                    }
                    
                    alertHighGasvalue();
                }else{  
                    alert('get last gas data failed :(');  
                }  
            },  
            error:function(response){  
                     {{!-- alert('server error')      --}}
            }  
        });
    }
    function reloadButton(){
        $.ajax({
            
            url: '/tester/getLastData',
            
            method: 'GET',
            dataType: 'json',
            success:function(response){ 
                console.log('msg: '+ response.data);
                if(response.msg=='success'){  
                    {{!-- alert('get last data succesfully :)');   --}}
                    
                    console.log('value: ' + response.data[0].value);

                    var checkbox1 = document.getElementById("checkbox")
                    if(response.data[0].value == 'LIGHT:ON'){
                        checkbox1.checked = 1;
                    }
	                else{
                        checkbox1.checked = 0;
                    } 
	                document.getElementById("checkbox").addEventListener("change", function(element){
		                    console.log(checkbox1.checked);
	                });
                    setTimeout(reloadButton, 3000);
                    
                }else{  
                    alert('get last data failed :(');  
                }  
                
            },  
            error:function(response){  
                     alert('server error')     
            }  
        });

    }
    
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#receive-body tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        reloadButton();
        alertHighGasvalue();
    });
</script>