<div class="title">GỬI GÓP Ý</div>

<form action="/support/create" method="post" class="support-form">
    <div class="delivery-address">
        {{!-- <label class="label-for-address" for="address">Địa chỉ nhận hàng</label> --}}
        <div class="input-and-btn" >
            <input type="text" name="feedback" id="address" placeholder="Bạn muốn góp ý điều gì? (tối đa 1000 ký tự)" required>
        </div>
        <div class="button-choose-address">
            <button type="submit" class="btn btn-primary">Gửi góp ý</button>
        </div>

    </div>

<script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#receive-body tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        alertHighGasvalue();
    });
    function alertHighGasvalue(){
        $.ajax({
            
            url: '/tester/getLastGasValue',
            
            method: 'GET',
            dataType: 'json',
            success:function(response){ 
                console.log('msg: '+ response.data);
                if(response.msg=='success'){  
                    
                    
                    console.log('value: ' + response.data[0].value);
                    
                    if(response.data[0].value > '60'){
                        alert('WARNING: HIGH GAS VALUE !!!! PLEASE CHECK YOUR HOUSE IMMEDIATELY');
                    }
                    
                    alertHighGasvalue();
                }else{  
                    alert('get last gas data failed :(');  
                }  
            },  
            error:function(response){  
                     alert('server error')     
            }  
        });
    }
</script>
